
/* featured collections/view specific styling*/
.views-field.views-field-nothing {
  float:left;
  padding-right: 15px;
}

.solr-featured-collections-view {
  display: inline-block;
}

.featured-thumb {
  height: auto;
  max-width: 100px;
}

.views-field.views-field-dctitle {
  padding-bottom: 15px;
}
